# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

public/articles/智能评标工具-用户操作手册-评标V5.pdf
public/articles/阿里巴巴Java开发手册v1.4.0.pdf
public/articles/标书复用-离线工具.md
public/images/offline-reuse-plan.jpeg
public/articles/标书复用.md
public/img.png
src/assets/images/1747898839791.png
